{{!-- The edit page for the list --}}

<div class="container" id="editList">
    <div class="row d-flex justify-content-center">
        <h1 class="listtitle my-3">Edit List!</h1>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 theList">
            <ul>
                {{#each listItem}}
                <li class="makeIt" data-id="{{id}}">
                    {{Item.name}}
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-6 premade">
            <div class="cow mb-4">
                <h3><i class="fas fa-cheese"></i> Dairy</h3>
                <ul id="theDairy">

                    {{#each Item}}
                    {{#ifEquals this.CategoryId 1 }}
                    <li>
                        {{name}}
                        <button class="addTo border-0 rounded-circle ml-3" data-id="{{this.id}}"><i
                                class="fas fa-clipboard-list"></i></button>
                    </li>
                    {{/ifEquals}}
                    {{/each}}

                </ul>
            </div>
            <div class="veggies mb-4">
                <h3><i class="fas fa-carrot"></i> Produce</h3>
                <ul id="TheProduce">

                    {{#each Item}}
                    {{#ifEquals this.CategoryId 2 }}
                    <li>
                        {{name}}
                        <button class="addTo border-0 rounded-circle ml-3" data-id="{{this.id}}"><i
                                class="fas fa-clipboard-list"></i></button>
                    </li>
                    {{/ifEquals}}
                    {{/each}}

                </ul>
            </div>
            <div class="meat mb-4">
                <h3><i class="fas fa-bacon"></i> Meat</h3>
                <ul id="TheMeat">

                    {{#each Item}}
                    {{#ifEquals this.CategoryId 3 }}
                    <li>
                        {{name}}
                        <button class="addTo border-0 rounded-circle ml-3" data-id="{{this.id}}"><i
                                class="fas fa-clipboard-list"></i></button>
                    </li>
                    {{/ifEquals}}
                    {{/each}}

                </ul>
            </div>
            <div class="bread mb-4">
                <h3><i class="fas fa-bread-slice"></i> Bread/Bakery</h3>
                <ul id="TheBread">

                    {{#each Item}}
                    {{#ifEquals this.CategoryId 4 }}
                    <li>
                        {{name}}
                        <button class="addTo border-0 rounded-circle ml-3" data-id="{{this.id}}"><i
                                class="fas fa-clipboard-list"></i></button>
                    </li>
                    {{/ifEquals}}
                    {{/each}}

                </ul>
            </div>
            <div class="frozen mb-4">
                <h3><i class="far fa-snowflake"></i> Frozen</i></h3>
                <ul id="TheFrozen">

                    {{#each Item}}
                    {{#ifEquals this.CategoryId 5 }}
                    <li>
                        {{name}}
                        <button class="addTo border-0 rounded-circle ml-3" data-id="{{this.id}}"><i
                                class="fas fa-clipboard-list"></i></button>
                    </li>
                    {{/ifEquals}}
                    {{/each}}

                </ul>
            </div>
            <div class="packaged mb-4">
                <h3><i class="fas fa-box-open"></i> Packaged/Dry Goods</h3>
                <ul id="ThePackaged">

                    {{#each Item}}
                    {{#ifEquals this.CategoryId 6 }}
                    <li>
                        {{name}}
                        <button class="addTo border-0 rounded-circle ml-3" data-id="{{this.id}}"><i
                                class="fas fa-clipboard-list"></i></button>
                    </li>
                    {{/ifEquals}}
                    {{/each}}

                </ul>
            </div>
            <div class=" other mb-4">
                <h3><i class="fas fa-utensils"></i> Other</h3>
                <ul id="TheOther">

                    {{#each Item}}
                    {{#ifEquals this.CategoryId 7 }}
                    <li>
                        {{name}}
                        <button class="addTo border-0 rounded-circle ml-3" data-id="{{this.id}}"><i
                                class="fas fa-clipboard-list"></i></button>
                    </li>
                    {{/ifEquals}}
                    {{/each}}

                </ul>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <button class="goShopNow" type="button">Go Shopping!</button>
    </div>
</div>